<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap@5.3.0-alpha1/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-icons@1.10.2/bootstrap-icons.css">
    <title>Aperoland - Page non trouvée</title>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">500</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Une erreur est survenue</p>
            <p class="lead">
                Quelque chose s'est mal exécuté
            </p>
            <a href="/app/home" class="btn btn-primary">Accueil</a>
        </div>
    </div>

    <script src="/libs/bootstrap@5.3.0-alpha1/bootstrap.bundle.min.js"></script>
</body>
</html>