<div class="modal fade" id="cgu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="#" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Condition générale d'utilisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-justify">
                    <h5 class="fw-bold text-center">Condition générale d'utilisation</h5>

                    <p>
                        Le présent document a pour objet de définir les modalités et conditions dans lesquelles d'une part,
                        l'éditeur, mets à la disposition de leurs utilisateurs le site <a href="https://aperoland.sikelio.wtf">Aperoland</a>,
                        désigné ci-après « le site », et les services disponibles sur le site et d'autre part,
                        la manière par laquelle l'utilisateur accède au site et utilise ses services.
                    </p>

                    <p>
                        Toute connexion au site est subordonnée au respect des présentes conditions.
                    </p>

                    <p>
                        Pour l'utilisateur, le simple accès au site de l'éditeur à l'adresse URL suivante
                        <a href="https://aperoland.sikelio.wtf">Aperoland</a>,
                        désigné après implique l'acceptation de l'ensemble des conditions décrites ci-après.
                    </p>

                    <hr class="border border-secondary border-1 opacity-75">

                    <h5 class="fw-bold text-center">Modification des conditions d'utilisation</h5>

                    <p>
                        L'éditeur se réserve la possibilité de modifier, à tout moment et sans préavis,
                        les présentes conditions d'utilisation afin de les adapter aux évolutions du site
                        et/ou de son exploitation.
                    </p>

                    <hr class="border border-secondary border-1 opacity-75">

                    <h5 class="fw-bold text-center">Propriété intellectuelle</h5>

                    <p>
                        La structure générale du site <a href="https://aperoland.sikelio.wtf">Aperoland</a>,
                        ainsi que les textes, graphiques, images, sons et vidéos la composant, sont la propriété de l'éditeur.
                        Toute représentation et/ou reproduction et/ou exploitation partielle ou totale
                        des contenus et services proposés par le site <a href="https://aperoland.sikelio.wtf">Aperoland</a>,
                        par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de l'éditeur strictement interdite
                        et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle. 
                    </p>

                    <hr class="border border-secondary border-1 opacity-75">

                    <h5 class="fw-bold text-center">Données personnelles</h5>

                    <p>
                        Les informations demandées à l'inscription au site sont nécessaires et obligatoires pour la création du compte de l'Utilisateur.
                        En particulier, l'adresse électronique pourra être utilisée par le site pour l'administration, la gestion et l'animation du service. 
                    </p>

                    <p>
                        Le site assure à l'utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée
                        conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
                    </p>

                    <p>
                        Si vous souhaitez supprimer votre compte ainsi que l'ensemble de vos informations (identifiant, données laissées sur le tchat du site),
                        il vous faudra envoyer un mail de demande à l'équipe du site <a href="mailto:contact@sikelio.wtf">contact@sikelio.wtf</a>.
                        Celui-ci sera traité dans les meilleurs délais. 
                    </p>

                    <hr class="border border-secondary border-1 opacity-75">

                    <h5 class="fw-bold text-center">Droit applicable</h5>

                    <p>
                        La législation française s'applique aux présentes conditions générales d'utilisation. 
                    </p>

                    <hr class="border border-secondary border-1 opacity-75">

                    <h5 class="fw-bold text-center">Publications des utilisateurs</h5>

                    <p>
                        Le site permet aux membres de publier des messages et des évènements. Dans ses publications, l'utilisateur s'engage à ne pas publier de
                        messages ou évènements choquants, obscènes, racistes, diffamatoires ou contraires à la loi, faute de quoi l'éditeur se réserve le droit
                        de prendre toutes les mesures appropriées (avertissement, modération des commentaires, suppression du compte de l'utilisateur,
                        éventuelle poursuite judiciaire). 
                    </p>

                    <hr class="border border-secondary border-1 opacity-75">

                    <h5 class="fw-bold text-center">Actes délictueux</h5>

                    <p>
                        L'utilisateur s'engage à ne pas commettre des actes délictueux vis-à-vis du site (introduction de contenus nuisibles, liés à des virus,
                        piratage informatique notamment). 
                    </p>

                    <hr class="border border-secondary border-1 opacity-75">

                    <h5 class="fw-bold text-center">Réclamations</h5>

                    <p>
                        Si vous avez des réclamations à apporter aux conditions présentées ci-dessus ou au fonctionnement du jeu en général, vous pouvez les
                        faire parvenir à l'adresse email suivante : <a href="mailto:contact@sikelio.wtf">contact@sikelio.wtf</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </form>
        </div>
    </div>
</div>