<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap@5.2.3/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-icons@1.10.2/bootstrap-icons.css">
    <link rel="stylesheet" href="/pages/events/events.css">
    <title>Aperoland - Events</title>
</head>
<body>
    {{{navbar}}}

    <main class="flex-shrink-0">
        <div class="container text-center">
            <table class="table mt-5">
                <thead>
                    <th scope="col">Nom</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Nombre de participants</th>
                </thead>
                <tbody>
                    {{#if events}}
                        {{#each events}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{email}}</td>
                                <td>Non disponible</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="5">Aucun evènement</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </main>

    <script src="/libs/bootstrap@5.2.3/bootstrap.bundle.min.js"></script>
    <script src="/libs/tom-select@2.2.2/tom-select.complete.min.js"></script>
</body>
</html>